HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

spring-boot-project/spring-boot-actuator-autoconfigure/src/test
spring-boot-project/spring-boot/src/test
spring-boot-project/spring-boot-actuator/src/test
spring-boot-project/spring-boot-autoconfigure/src/test
spring-boot-project/spring-boot-cli/src/test
spring-boot-project/spring-boot-dependencies/src/test
spring-boot-project/spring-boot-devtools/src/test
spring-boot-project/spring-boot-docs/src/test
spring-boot-project/spring-boot-parent/src/test
spring-boot-project/spring-boot-properties-migrator/src/test
spring-boot-project/spring-boot-starters/src/test
spring-boot-project/spring-boot-test/src/test
spring-boot-project/spring-boot-test-autoconfigure/src/test
spring-boot-project/spring-boot-tools/src/test